* {
  margin: 0;
  padding: 0;
}

#Canvas {
  /* position: absolute; */
}

#controller {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
}

body {
  @apply bg-gradient-to-b from-[#0c102b] to-[#04040c] min-h-screen overflow-hidden;
}
